extends layout.pug

block navbar
    a.nav-item.nav-link(href="/", title="Home") Home
        span.sr-only (current)
    a.nav-item.nav-link(href="/datatable" , title="View data") View data
    if username
        a.nav-item.nav-link(href="/profile" , title="Profile") Korisnički profil
        a.nav-item.nav-link(href="/data" , title="Data") Osvježi preslike
        a.nav-item.nav-link(href="/logout" , title="Logout") Odjava
    else
        a.nav-item.nav-link(href="/login" , title="Login") Prijava

block content
    div.d-flex.flex-column.justify-content-center.align-items-start.font-weight-bold.m-2
        h1 Greška 403. Morate se prijaviti.